.gallery-container {
    width: 100%;

    min-height: 300px;

    background-color: $darker;

    .gallery-filter-bar-wrapper {
        border-top: 1px solid rgb(150, 115, 27);
        border-bottom: 1px solid rgb(150, 115, 27);
        .gallery-filter-bar {
            display: flex;

            .filter-bar-btn-wrapper {
                display: flex;
                flex-grow: 1;

                height: 30px;
                &:hover {
                    .filter-bar-btn {
                        background-color: $darker;
                    }
                }

                .filter-bar-btn {
                    text-align: center;
                    line-height: 30px;
                    width: 100%;
                    height: 100%;
                    // background-color: $selected-darker; this is hover/active color
                    text-transform: uppercase;
                    color: $goldenrod;
                }
            }
        }
    }

    .gallery {
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        .galleryItem {
            padding: 10px;
            .galleryItem-wrapper {
                border-image-width: 2em;
                border-image-source: url("../../static/assets/imgs/gallery_frames/gold-frame-fancy-transp.png");
                border-image-slice: 8%;
                border-image-outset: 8 8 5 8;

                .gallery-item-img {
                    border: 1px solid black;
                    width: 100%;
                }
            }
        }
    }
}
