// ==================== variables =======================
$black: black;
$darker: rgba(
    $color: #000000,
    $alpha: 0.5,
);
$offwhite: whitesmoke;
$dark-blue: rgb(12, 12, 54);
$brown: #492c1d;
$light-brown: #7a4419;
$goldenrod: #e6af2e;
$gray-active: #4a555f;

// $baby-blue: rgb(91, 192, 222);
// $baby-blue: #44bba4;
// $light-gray: #6F8695;
// $dark-blue: rgb(0, 112, 156);
// $crayola-blue: #2d82b7;
// $offgray: rgba(39, 39, 39, 0.74);
// $gray-active: gray;

// mixins ====================
// variables for path img etc
// // usage example: $logo-img: '#{$assetPath}logo.png';
// // usage example: background: url(#{$imgpath}/hero-image.jpg) no-repeat left bottom;

$imgpath: "../../static/assets/imgs";

@mixin woodenBg {
    background: url("../../static/assets/imgs/banners/wooden-texture.jpg")
        center center no-repeat;
    background-size: cover;
}

// end of mixins =============

// ================== end of variables ============================

// html {
//     font-size: 62.5%; // 1rem is 10px
// }

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "montserrat";
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    // margin-top: 2rem;
    display: grid;
    justify-items: center;
}

a {
    text-decoration: none;
    color: $offwhite;
}

// ============================

// ======================== navbar ============================

// mixins
$navbar-banner: "#{$imgpath}/banners/wooden-texture.jpg";

// end of mixins
.navigation-container {
    width: 100%;
    background-color: $brown;
    background: url(#{$navbar-banner}) center center no-repeat;
    background-size: cover;

    .navigation-wrapper {
        width: 100%;
        background-color: $darker;
        height: 10vh;
        min-height: 50px;
        max-height: 85px;
        display: flex;
        align-items: center;

        .navigation {
            padding: 0 15px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .navbar-link {
                color: $goldenrod;
            }

            // .left {
            // }

            .center {
                text-align: center;
            }

            .right {
                display: flex;
                justify-content: flex-end;

                .hamburger-container {
                    .hamburger-dropdown-list-container {
                        overflow: hidden;
                        .dropdown-list {
                            @include woodenBg();

                            transition: 0.5s ease-out;
                            border: transparent solid 1px;
                            background-color: $brown;
                            visibility: hidden;
                            overflow: hidden;
                            z-index: 2;
                            width: 20px;
                            position: absolute;
                            bottom: 100vh;
                            right: 20px;
                            min-width: 200px;

                            ul {
                                padding: 0px;
                                margin: 0px;
                            }

                            a {
                                color: $offwhite;
                                li {
                                    list-style-type: none;
                                    text-align: center;
                                    font-size: 1.5em;
                                    font-weight: bold;
                                }

                                &:hover {
                                    color: $goldenrod;

                                    li {
                                        background-color: $brown;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        .dropdown-list {
                            bottom: auto;
                            width: 33vw;
                            height: auto;
                            border-color: black;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

// ============== End of navigation===========

//============ homepage ==============

$heading-color: black;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

$welcomeSectionBg: "https://i.pinimg.com/originals/17/6d/25/176d25cb6b297ca2f798a2301decee2e.jpg";

.homepage-wrapper {
    .homepage {
        .welcome-section-wrapper {
            background: url(#{$welcomeSectionBg}) $dark-blue no-repeat center
                center fixed;
            background-size: cover;

            // testing
            // background-color: red;
            //end testing
            min-height: 300px;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .welcome-section {
                background-color: rgba($color: #000000, $alpha: 0.3);
                .heading-wrapper {
                    padding-bottom: 25px;
                    .heading {
                        padding: 25px 0;
                        margin: 0 50px;
                        text-transform: uppercase;
                        line-height: 1em;
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-family: "Oswald", sans-serif;
                            color: $heading-color;
                            text-shadow: 0 0 5px #e6af2e;
                            text-shadow: 0 0 10px #e6af2e;
                            text-shadow: 0 0 20px #e6af2e;
                            text-shadow: 0 0 40px #e6af2e;
                        }
                    }

                    .main-heading {
                        text-align: center;
                        font-size: 13em;
                    }

                    .main-subheading {
                        text-align: center;
                        font-size: 2em;
                        padding: 0 12px;
                        span {
                            text-shadow: 0 0 10px #e6af2e;
                        }
                    }
                }
            }
        }

        // ==============================

        .description-section-wrapper {
            .description-section {
                .description-heading {
                    text-transform: uppercase;
                }
            }
        }
    }
}

//============ end of homepage ==============
