// ==================== variables =======================
$black: black;
$darker: rgba(
    $color: #000000,
    $alpha: 0.5,
);
$offwhite: whitesmoke;
$dark-blue: rgb(12, 12, 54);
$brown: #492c1d;
$light-brown: #7a4419;
$goldenrod: #e6af2e;
$gray-active: #4a555f;

// $baby-blue: rgb(91, 192, 222);
// $baby-blue: #44bba4;
// $light-gray: #6F8695;
// $dark-blue: rgb(0, 112, 156);
// $crayola-blue: #2d82b7;
// $offgray: rgba(39, 39, 39, 0.74);
// $gray-active: gray;

// mixins ====================
// variables for path img etc
// // usage example: $logo-img: '#{$assetPath}logo.png';
// // usage example: background: url(#{$imgpath}/hero-image.jpg) no-repeat left bottom;

$imgpath: "../../static/assets/imgs";

@mixin woodenBg {
    background: url("../../static/assets/imgs/banners/wooden-texture.jpg")
        center center no-repeat;
    background-size: cover;
}

// end of mixins =============

// ================== end of variables ===========================
