// ==================== variables =======================
$black: black;
$darker: rgba(
    $color: #000000,
    $alpha: 0.5,
);
$selected-darker: rgba(
    $color: #000000,
    $alpha: 0.25,
);
$offwhite: whitesmoke;
$dark-blue: rgb(12, 12, 54);
$brown: #492c1d;
$light-brown: #7a4419;
$goldenrod: #e6af2e;
$gray-active: #4a555f;

// ============= homepage ===========
$heading-color: black;

$welcomeSectionBg: "https://i.pinimg.com/originals/17/6d/25/176d25cb6b297ca2f798a2301decee2e.jpg";
// ============= end of homepage ===========

// end of mixins =============

// ================== end of variables ===========================
